#forum {
    margin-top: 5em;
}

.lgi-heading {
    color: #dea731;
}

.iconify {
    font-size: x-large;
    color: #dea731;
}

.icon-box {
    display: flex;
    justify-content: flex-end;
}

.user-button {
    border: transparent;
    background-color: transparent;
}